In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve
from sklearn.preprocessing import StandardScaler

columns = ['Age','Workclass','fnlgwt','Education','Education num','Marital Status',
           'Occupation','Relationship','Race','Sex','Capital Gain','Capital Loss',
           'Hours/Week','Native country','Income']

adult_data_df = pd.read_csv('./adult.data_converted.csv', names=columns)
adult_data_df.head(5)

,Age,Workclass,fnlgwt,Education,Education num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours/Week,Native country,Income
0,age,work-class,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,is_more_than_50K
1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0

In [64]:
adult_data_df.shape

(32563, 15)

In [65]:
adult_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32563 entries, 0 to 32562
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32562 non-null  object
 1   Workclass       30726 non-null  object
 2   fnlgwt          32562 non-null  object
 3   Education       32562 non-null  object
 4   Education num   32562 non-null  object
 5   Marital Status  32562 non-null  object
 6   Occupation      30719 non-null  object
 7   Relationship    32562 non-null  object
 8   Race            32562 non-null  object
 9   Sex             32562 non-null  object
 10  Capital Gain    32562 non-null  object
 11  Capital Loss    32562 non-null  object
 12  Hours/Week      32562 non-null  object
 13  Native country  31979 non-null  object
 14  Income          32562 non-null  object
dtypes: object(15)
memory usage: 3.7+ MB

In [66]:
adult_data_df['Age'].fillna('N', inplace=True)
adult_data_df['Workclass'].fillna('N', inplace=True)
adult_data_df['fnlgwt'].fillna('N', inplace=True)
adult_data_df['Education'].fillna('N', inplace=True)
adult_data_df['Education num'].fillna('N', inplace=True)
adult_data_df['Marital Status'].fillna('N', inplace=True)
adult_data_df['Occupation'].fillna('N', inplace=True)
adult_data_df['Relationship'].fillna('N', inplace=True)
adult_data_df['Race'].fillna('N', inplace=True)
adult_data_df['Sex'].fillna('N', inplace=True)
adult_data_df['Capital Gain'].fillna('N', inplace=True)
adult_data_df['Capital Loss'].fillna('N', inplace=True)
adult_data_df['Hours/Week'].fillna('N', inplace=True)
adult_data_df['Native country'].fillna('N', inplace=True)
adult_data_df['Income'].fillna('N', inplace=True)

In [67]:
adult_data_df.isnull().sum()

Age               0
Workclass         0
fnlgwt            0
Education         0
Education num     0
Marital Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital Gain      0
Capital Loss      0
Hours/Week        0
Native country    0
Income            0
dtype: int64

In [68]:
adult_data_df.dropna().head()

,Age,Workclass,fnlgwt,Education,Education num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours/Week,Native country,Income
0,age,work-class,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,is_more_than_50K
1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0

In [69]:
adult_data_df = pd.read_csv('./adult.data_converted.csv')

y_adult_data_df = adult_data_df['Age']
X_adult_data_df = adult_data_df.drop('age')

KeyError: 'Age'

In [56]:
X_train, X_test, y_train, y_test = train_test_split(adult_data_df, adult_data_df, test_size=0.2)

In [57]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

dt_clf = DecisionTreeClassifier(random_state=11)
rf_clf = RandomForestClassifier(random_state=11)
lr_clf = LogisticRegression()

dt_clf.fit(X_train, y_train)
dt_pred = dt_clf.predict(X_test)
print('DecisionTreeClassifier 정확도 : {0:.4f}'.format(accuracy_score(y_test, dt_pred)))

ValueError: could not convert string to float: 'age'